<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add course</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/datatables.min.css}" />
	<script type="text/javascript" src="../js/datatables.min.js"></script>
</head>
<body>
	<div th:replace="header :: header">...</div>
	<form th:action="@{/student/{id}/courses(id=${student.id})}" method="get" enctype="multipart/form-data" >
	<div class="col-md-8" style="padding:80px 20px">
		<div class="panel panel-default">
		 <div class="panel-heading">Student info</div>
		 <div class="panel-body" style="padding-left: 5px;">
		 	<input type="hidden" id="studentid" th:field="${student.id}" />
			Name: <b th:text="${student.firstName}" /> <b th:text="${student.lastName}" />
			Email: <span th:text="${student.email}" /><br/>
			Department: <span th:text="${student.department}" />
			<br/>Courses:
				<span th:each="course : ${student.courses}">
					&nbsp;&nbsp;<span th:text="${course.name}" />
				</span>
				<br/>
				</div>
		</div>	
    	<div style="padding:10px 20px">
		   	<table id="courseTable" class="table table-striped">
				<thead>
				<tr>
				    <th>Id</th>
				    <th>Code</th>
				    <th>Name</th>
				    <th>Owner</th>		    
				    <th>Actions</th>		    
				</tr>  
				</thead>
		    </table>		
		</div>
	</div>
	</form>
	<script>
	$(document).ready( function () {
		const studentid = $("#studentid").val();
		console.log('Student ' + studentid);
		 var table = $('#courseTable').DataTable({
				"sAjaxSource": "/getallcourses",
				"sAjaxDataProp": "",
		        "paging":   false,
		        "ordering": false,
		        "info":     false,
				"order": [[ 0, "asc" ]],
				"columns":[
				    { "data": "courseid",
				    	"visible": false},		
				    { "data": "coursecode"},
					{ "data": "name"},
				    { "data": "createdBy"},
				    { "data": "reviewaction",
				    		"width": "7%",
						   	"orderable": false,
						   	"searchable": false,
						   	"render": function(data, type, row, meta) {
						    	const a = '<a href="/student/' + studentid + '/' + row.courseid + '">Enroll</a>';
						    	return a;
						  	}
					},				
				]
		 })
	});	
	</script>
</body>
</html>