<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />     
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div th:replace="header :: header">...</div>
    
    <div style="padding:80px 20px">
    <table class="table table-striped">
		<tr>
		    <th>Group</th>
		    <th>Student</th>	
		    <th>Question</th>
		    <th>Grade</th>
		    <th>Description</th>
		    <th>Reviewed By</th>		    
		</tr>  
    	<tr th:each = "question : ${questions}">
    		<td th:text="${question.review.course.name}"></td>
    		<td th:text="${question.review.student.firstName} + ' ' + ${question.review.student.lastName}"></td>
    		<td th:text="${question.title}"></td>
    		<td th:text="${question.grade}"></td>
    		<td th:text="${question.description}"></td>
    		<td th:text="${question.review.createdBy}"></td>    		
    	</tr>
    </table>
	</div>    
</body>
</html>