<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Courselist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{css/datatables.min.css}" />
	<script type="text/javascript" src="js/datatables.min.js"></script>
</head>
<body>
	<div th:replace="header :: header">...</div>
    
    <div style="padding:60px 20px">
    <h3>Courses / Groups</h3>
    <table id="courseTable" class="table table-striped">
		<thead>
		<tr>
		    <th>Id</th>
		    <th>Course</th>
		    <th>Group</th>
		    <th>Owner</th>		    
		    <th>Actions</th>		    
		    <th></th>	
		    <th></th>
		</tr>  
		</thead>
    </table>
    <a href="/addcourse" class="btn btn-primary" sec:authorize="hasAnyAuthority('ADMIN', 'SUPERUSER')">
      <span class="glyphicon glyphicon-plus"></span> New course
    </a>
	</div>  
	<script>
	$(document).ready( function () {
		 var table = $('#courseTable').DataTable({
				"sAjaxSource": "/getcourses",
				"sAjaxDataProp": "",
				"order": [[ 0, "asc" ]],
				"columns":[
				    { "data": "courseid",
				    	"visible": false},		
				    { "data": "coursecode"},
					{ "data": "name"},
				    { "data": "createdBy"},
				    { "data": "reviewaction",
				    		"width": "7%",
						   	"orderable": false,
						   	"searchable": false,
						   	"render": function(data, type, row, meta) {
						    	const a = '<a href="/coursestudents/' + row.courseid + '">Review</a>';
						    	return a;
						  	}
					},
				    { "data": "reviews",
						   	"orderable": false,
							"width": "9%",
						   	"searchable": false,
						   	"render": function(data, type, row, meta) {
						    	const a = '<a sec:authorize="hasAuthority('ADMIN')" href="questions/' + row.courseid + '">View Reviews</a>';
						    	return a;
						  	}
					},					
				    { "data": "editaction",
					   	"orderable": false,
					   	"searchable": false,
				    	"width": "9%",
					   	"render": function(data, type, row, meta) {
					    	const a = '<a sec:authorize="hasAnyAuthority('ADMIN', 'SUPERUSER')" href="/editcourse/' + row.courseid + '">Edit / Questions</a>';
					    	return a;
					  	}
					}
				]
		 })
	});	
	</script>	  
</body>
</html>