<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>	
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="header :: header">...</div>
	<div class="col-md-6" style="padding:80px 20px">
		<h3>Edit Course<a style="margin-left: 450px" class="btn btn-danger btn-xs" th:href="@{../archivecourse/{id}(id=${course.courseid})}">Archive</a></h3>
		<form th:object="${course}" th:action="@{../savecourse}" action="#" method="post">
			<input type="hidden" th:field="*{courseid}" class="form-control"/>
			<input type="hidden" th:field="*{createdBy}" class="form-control"/>
			<label for="code">Course</label>
			<input type="text" id="code" th:field="*{coursecode}" class="form-control"
				placeholder="Code" />
			<div style="clear: both; display: block; height: 10px;"></div>		
			<label for="name">Group</label>
			<input type="text" id="name" th:field="*{name}" class="form-control"
				placeholder="Name" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" name="action" class="btn btn-primary" value="Save"></input>
			<input type="submit" name="action" class="btn btn-default" value="Cancel"></input>
			<div style="clear: both; display: block; height: 20px;"></div>
			<div class="panel panel-default">
			<div class="panel-heading">Group Questions</div>
			<div class="panel-body">
		    <table class="table table-striped">
				<tr>
				    <th>Title</th>
				    <th>Order</th>
				    <th>Action</th>
				</tr>  
		    	<tr th:each = "question : ${questions}">
		    		<td th:text="${question.title}"></td>
		    		<td th:text="${question.questionorder}"></td>
    				<td><a th:href="@{/deletequestion/{id}/{courseid}(id=${question.id}, courseid=${course.courseid})}" class="btn btn-danger btn-xs">Delete</a></td>
		    	</tr>
		    </table>		
		    </div>
		    </div>	
		</form>
		<a class="btn btn-primary" th:href="@{/addcoursequestion/{id}(id=${course.courseid})}"><span class="glyphicon glyphicon-plus"></span> Add Question</a>
		<a class="btn btn-default" data-toggle="modal" data-target="#copyModal">Copy Questions</a>
	

	<!-- Copy questions modal-->
	<div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Copy questions</h4>
	      </div>
	      <div class="modal-body">
	      	<form th:action="@{../copyquestions/{id}(id=${course.courseid})}" th:object="${selectedCourse}" id="copyform" action="#" method="post">
	      	   	<div style="padding: 10px">
	      	   	<label for="coursesel">Select course:</label>
	      	   	<select th:field="*{selectedcourseid}" class="form-control" id="coursesel">
                	<option th:each="courserow : ${courses}"
                    	th:value="${courserow.courseid}"
                    	th:text="${courserow.coursecode}" />
             	</select>
             	</div>
	        	<button type="submit" class="btn btn-primary">Copy</button>
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	         </form>
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div>
	  </div>
	</div>	
	</div>
</body>
</html>
