<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="header :: header">...</div>
	<div class="col-md-4" style="padding:80px 20px">
		<h3>Edit group</h3>
		<form th:object="${course}" th:action="@{../savecourse}" action="#" method="post">
			<input type="hidden" th:field="*{courseid}" class="form-control"/>
			<input type="hidden" th:field="*{createdBy}" class="form-control"/>
			<label for="code">Code</label>
			<input type="text" id="code" th:field="*{coursecode}" class="form-control"
				placeholder="Code" />
			<div style="clear: both; display: block; height: 10px;"></div>		
			<label for="name">Name</label>
			<input type="text" id="name" th:field="*{name}" class="form-control"
				placeholder="Name" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" name="action" class="btn btn-primary" value="Save"></input>
			<input type="submit" name="action" class="btn btn-default" value="Cancel"></input>
		</form>
	</div>
</body>
</html>
