<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{/../css/bootstrap.min.css}" />
</head>
<body>
	<h2>Review</h2>
	<div class="col-md-4">
		<form th:object="${review}" th:action="@{/../savereview}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
			<input type="number" th:field="*{grade}" class="form-control"
				placeholder="1-5" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{description}" class="form-control"
				placeholder="Description" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
	</div>
</body>
</html>
