<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SignUp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="header :: header">...</div>
	<div class="col-md-6" style="padding:80px 140px 20px">
		<h3>Sign-up</h3>
		<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
			<input type="text" th:field="*{username}" class="form-control"
				placeholder="Choose you Username" />
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="text" th:field="*{studentnumber}" class="form-control"
				placeholder="Student number" />
			<p th:if="${#fields.hasErrors('studentnumber')}" th:errors="*{studentnumber}">Student number Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="text" th:field="*{firstName}" class="form-control"
				placeholder="First name" />
			<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="text" th:field="*{lastName}" class="form-control"
				placeholder="Last name" />
			<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="text" th:field="*{email}" class="form-control"
				placeholder="Email" />
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="text" th:field="*{department}" class="form-control"
				placeholder="Department" />
			<p th:if="${#fields.hasErrors('department')}" th:errors="*{department}">Department Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="password" th:field="*{password}" class="form-control"
				placeholder="Create Password" />
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="password" th:field="*{passwordCheck}" class="form-control"
				placeholder="Re-enter Password" />
			<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>			
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="submit" class="btn btn-primary" value="Save"></input>		
		</form>
	</div>
</body>
</html>