<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Studentlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{css/datatables.min.css}" />
	<script type="text/javascript" src="js/datatables.min.js"></script>
</head>
<body>
	<div th:replace="header :: header">...</div>
    
    <div style="padding:60px 20px">
    <h3>Students</h3>
    <table id="studentTable" class="table table-striped">
		<thead>
		<tr>
		    <th>Id</th>		
		    <th>Student number</th>
		    <th>Name</th>
		    <th>Email</th>
		    <th>Department</th>	
		    <th>Actions</th>
		    <th></th>	    
		</tr>  
		</thead>
    </table>
	</div>
	
	<script>
	$(document).ready( function () {
		 var table = $('#studentTable').DataTable({
				"sAjaxSource": "/getstudents",
				"sAjaxDataProp": "",
				"order": [[ 0, "asc" ]],
				"columns": [
				    { "data": "id",
				    	"visible": false},
					{ "data": "studentNumber"},
				    { "data": "firstName"},
				    { "data": "email"},
				    { "data": "department"},
			        { "data": "editaction",
						"width": "7%",
				    	"orderable": false,
					   	"searchable": false,
					   	"render": function(data, type, row, meta) {
					    	const a = '<a sec:authorize="hasAuthority('ADMIN')" href="/addStudentCourse/' + row.id + '">Add group</a>';
					        return a;
					   }
					},
				    { "data": "editaction",
						"width": "7%",
				       	"orderable": false,
				       	"searchable": false,
				        "render": function(data, type, row, meta) {
				    		const a = '<a sec:authorize="hasAuthority('ADMIN')" href="/edit/' + row.id + '">Edit</a>';
				        	return a;
				        }
				    }				    
				]
		 })
	});	
	</script>    
</body>
</html>